* {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  padding-left: 0px;
}

body {
  padding: 1%;
}

.root-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.root-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 100%;
}

.root-header-button-box {
  display: flex;
  gap: 5px;
}

.text-bigger {
  font-size: 50px;
  text-align: center;
}

.post-list {
  box-sizing: border-box;
  padding: 3%
}

.post-list > div {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
}

.post-list > ul {
  box-sizing: border-box;
  padding: 5%;
  border: solid 1px lightgray;
  height: 70vh;
}

.post-list li {
  box-sizing: border-box;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.button-style {
  border: none;
  height: 30px;
  background-color:antiquewhite;
  cursor: pointer;
}

footer {
  text-align: center;
}