* {
  margin: 0;
}

body {
  padding: 1%
}

.root-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 100%;
}

.root-header-button-box {
  display: flex;
  gap: 5px;
}